<% layout('/layouts/boilerplate') %>
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="text-dark text-decoration-none">
        <h1 class="m-2">Stem Player</h1>
    </a>
    <a href="http://boardmanband.org"><button class="btn btn-primary m-2">Back to boardmanband.org</button></a>
</header>
<div class="mx-auto" style="width: 400px;">
        <p class="text-center">That page doesn't exist, silly.</p>
        <a class="d-grid gap-2" href="/"><button class="btn btn-primary" type="button">Back to Stems</button></a>
</div>